################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/skinet
/skinet/.vs/skinet
/skinet/API/bin/Debug/net5.0
/skinet/API/obj/Debug/net5.0
/skinet/API/obj
/skinet/Core/bin/Debug/net5.0
/skinet/Core/obj
/skinet/Infrastructure/bin/Debug/net5.0
/skinet/Infrastructure/obj
